 html {
  height: 100%;
  margin: 0;
}

 #introText {
   margin-left:300px;
   margin-top:200px;
   
 }
p {
  font-size: 22px;
}

body {
  margin:0 auto; 
  font-family: 'Shadows Into Light', cursive;
  background-image: url( ../../assets/images/website.jpg); 
  position: relative;

  margin: 0;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
  font-family: 'Shadows Into Light', cursive;
  color:black;
  font-size: 50px;
  box-shadow: 10px 10px 5px lightgrey;
  margin-left:10px;

  
 }

 h1.card-title {
  font-family: 'Shadows Into Light', cursive;
 }
 a.navbar-brand {
   font-size:30px;
   
 }


 @media (max-width:575.98px) {
  .card-title {
    margin-left:20%;
  
  }
  hr {
    width:80%;
  }
.img-fluid {
position: relative;
margin-left:60%;
}

.navbar {
  height:30px;

  
  
}
.navbar-text{
  margin-left: auto;
  margin-right:auto;
 
 

  

  
  
}
.nav-item {
  color:black;
 
}

 ul {
   margin-left:20px;
  
   
 
 }
 li {
   padding:0 20px;
   
   
 }
}

/* Darker background on mouse-over */
.btn:hover {
  background-color:#ffe8f5;
  font-family: 'Shadows Into Light', cursive;
  font-size: x-large;
  
}

.fab {
  color:black;
 
}
.card-body {
width:80%;
position:relative;


}


.container {
margin-left:550px;

 }

 .footer {
   padding-top: 5px;
 
  font-size: 9pt;
  text-align: center;
  border-top: 1px solid lightgrey;
  background-color: whitesmoke;
  height:60px;
  overflow: hidden;
  left: 0;
  position: fixed; bottom: 0;
  bottom: 0;
  width: 100%;
} 

